@font-face {
  src: url(./fonts/EuclidCircularA-Regular.ttf);
  font-family: "euclidnormal";
  font-weight: normal;
}

@font-face {
  src: url(./fonts/NeueMachina-Regular.woff);
  font-family: "neuenormal";
  font-weight: normal;
}

@font-face {
  src: url(./fonts/NeueMachina-Ultrabold.woff);
  font-family: "neuebold";
  font-weight: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

  // @media (max-width: 768px) {
  //   overflow-x: hidden;
  // }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.7;
  position: relative;
  height: 100vh;
  // overflow: hidden;
  background-color: #000000;
  // background: url("./assets/grain.png"), linear-gradient(to top, black, #141515);
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0.9),
  //     rgba(0, 0, 0, 0.93)
  //   ),
  //   url("./assets/grain.png");
  // width: 100%;
  // height: 100vh;
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-image: #050607, url("./assets/grain.png");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 210px 14px;
  // border-bottom: 1px solid rgba(96, 96, 96, 0.2);

  span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    font-family: "neuebold";
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}

header img {
  // w
  width: 64px;
}

header ul {
  margin-left: auto;
}

header ul li {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 10px;
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.container {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container .left img {
  width: 100%;
  border-radius: 5px;
}

.container .right {
  padding: 0 10px;
  // margin-top: -100px;
}

.container .right h1 {
  color: white;
  font-size: 124px;
  font-weight: 900;
  display: inline-block;
  line-height: 1;
  font-family: "neuebold";
}

.container .right span {
  font-size: 72px;
  // letter-spacing: -4px;
  // color: #acacac;
}

.container .right p {
  margin-top: 0px;
  max-width: 600px;
  color: white;
  opacity: 0.5;
  font-size: 18px;
  line-height: 1.7;
  font-family: "euclidnormal";
}

.container .right a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 40px;
  opacity: 0.5;
  border: 1px solid gray;
  padding: 5px 12px 6px 12px;
  border-radius: 5px;
}

.cover-5 {
  // background: linear-gradient(to bottom, #181e25, black);
  position: absolute;
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(18, 9, 9, 0.4),
      rgba(4, 2, 2, 0.75)
    ),
    url("./assets/grain.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  // overflow: hidden;
}

article {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 80%;
}

.cover {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-heading h1 {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
  font-family: "neuebold";
}

.cover-heading span {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
}

.imsrk2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: blac;
  font-size: 72px;
  font-weight: 900;
  z-index: -1;
  color: #dfdfdf;
  letter-spacing: -4px;
  line-height: 1;
  font-family: "neuebold";
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to left,
      rgba(18, 9, 9, 0.8),
      rgba(0, 0, 0, 0.63)
    ),
    url("./assets/grain.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .cover-heading h1 {
    font-size: 72px;
  }
  .cover-heading span {
    font-size: 72px;
  }
  .imsrk2 {
    font-size: 124px;
  }
  header {
    padding: 5px 80px;
    width: 100%;
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  header ul {
    margin-left: auto;
  }
  header ul li {
    font-size: 14px;
    margin-left: 50px;
  }
  .container {
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    width: 90%;
    margin-top: 50px;
  }

  .left {
    margin: auto;
  }
  .container .left img {
    width: 100%;
    max-height: 650px;
  }
  .container .right {
    // padding: 0;
    // margin-top: -80px;
    margin-bottom: auto;
  }

  .container .right h1 {
    color: white;
    font-size: 124px;
    font-weight: 900;
    display: inline-block;
    line-height: 1;
  }
  .container .right span {
    font-size: 128px;
    letter-spacing: 5px;
    // color: #ffffff;
    line-height: 1;
  }

  .container .right strong {
    font-size: 72px;
    letter-spacing: -4px;
    color: #acacac;
  }
  .container .right p {
    margin-top: 0px;
    max-width: 600px;
    color: white;
    opacity: 1;
    font-size: 18px;
    line-height: 1.7;
    // margin: 0;
    // padding: 0;
    // width: 1000px;
  }
  .container .right a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.5;
    border: 1px solid gray;
    padding: 5px 12px 6px 12px;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=style.css.map */

.gradient-block {
  position: absolute;
  left: -4%;
  top: 8%;
  right: auto;
  bottom: auto;
  width: 800px;
  height: 250px;
  border-radius: 200px;
  background-image: linear-gradient(315deg, #99cfff, #dce5f5);
  opacity: 0.4;
  filter: blur(120px);
  transform: rotate(45deg);
}

.gradient-block2 {
  position: absolute;
  right: 20%;
  bottom: 0%;
  left: auto;
  top: auto;
  width: 300px;
  height: 150px;
  border-radius: 200px;
  background-image: linear-gradient(315deg, #ffffff, #dce5f5);
  opacity: 0.4;
  filter: blur(120px);
  transform: rotate(45deg);
}

.menu-button {
  position: fixed;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0;
  top: 28px;
  right: 62px;
  width: 30px;
  height: 30px;
  z-index: 0;
  cursor: pointer;
  color: white;
  visibility: hidden;
}
nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
}
nav ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  list-style: none;
  li {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    visibility: hidden;
    color: white;
  }
}
.skew {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.vertical {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.skewback {
  clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
}
.content {
  padding: 2em;
  color: white;
  max-width: 600px;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
}

@keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
}

// p {
//   max-width: 300px;
//   &:nth-of-type(1) {
//     position: relative;
//     opacity: 0;
//   }
// }
p[data-scroll="in"] {
  [data-char]:after {
    animation-name: glitch-switch;
  }
}

// p[data-scroll] {
//   transition: opacity 0.3s;
// }
// p[data-scroll="in"] {
//   opacity: 1;
// }
// p[data-scroll="out"] {
//   opacity: 0;
// }

.reveal--0 {
  [data-char]:after {
    animation-iteration-count: calc(var(--char-index) * 0.55);
  }
}
.reveal--1 {
  [data-char]:after {
    animation-iteration-count: 4;
  }
}
.reveal--2 {
  [data-char]:after {
    animation-iteration-count: var(--count);
  }
}
.word {
  position: relative;
  // display: inline-block;
}
[data-char] {
  color: transparent;
  position: relative;
}
[data-char]:after {
  --txt: attr(data-char);
  animation-duration: 0.45s;
  animation-delay: 2s;
  animation-timing-function: steps(1);
  animation-fill-mode: backwards;
  content: var(--txt);
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "neuebold";
  font-size: 124px;
}

@keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
  10% {
    content: var(--char-1);
  }
  20% {
    content: var(--char-2);
  }
  30% {
    content: var(--char-3);
  }
  40% {
    content: var(--char-4);
  }
  50% {
    content: var(--char-5);
  }
  60% {
    content: var(--char-6);
  }
  70% {
    content: var(--char-7);
  }
  80% {
    content: var(--char-8);
  }
  90% {
    content: var(--char-9);
  }
  100% {
    content: var(--char-0);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0rem;
  row-gap: 1.5rem;
  margin: auto;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: rgb(16, 16, 16);
  // border-top: 1px solid rgba(96, 96, 96, 0.2);
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1.25rem 0rem 1.25rem;

  div {
    display: flex;
    align-items: center;

    span {
      width: 64px;
      height: 64px;
      // border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        // max-width: 85%;
        max-height: 100%;
      }
    }
  }
}

.prop-title {
  margin-left: 0.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  /* #273A41 */
  color: #273a41;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 27px;
  font-family: "euclidnormal";
}

.card-title {
  font-weight: bold;
  font-family: "neuebold";
  color: #e0dfdf;
  font-size: 20px;
  margin-left: 0.75rem;
  text-align: left;
}

.card-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1.25rem 0rem 1.25rem;
  div {
    display: flex;
    align-items: center;

    span {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    p {
      margin-left: 4.5rem;
      font-weight: 400;
      text-align: left;
      font-family: "euclidnormal";
      color: #949da9;
      max-width: 550px;
      font-size: 20px;
    }
  }
}

.card-hero {
  margin: auto;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin-top: 100px;
  max-width: 100%;
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  // padding-right: 1.5rem;
  // padding-left: 1.5rem;
  // background: linear-gradient(to top, black, #141515);
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.dao-container {
  // background-color: #f5f9fa;
  transform-origin: top left;

  margin: 0 auto;
  height: 100%;
  padding: 0rem;
  padding-bottom: 20px;
  background-size: cover;
  padding-bottom: 0px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: auto;

  // margin-bottom: 200px;
  // border: 1px solid #d2f0fb;
}
// .dao-container > * {
//   transform: skewY(6deg);
//   transform: skewY(-6deg);
// }

.dao-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  // max-width: 1500px;
  max-width: 100%;
}

.dao-content {
  width: 100%;
  z-index: 1;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: auto;

  .title {
    font-family: "euclidnormal";
    font-weight: 800;
    text-transform: normal;
    overflow: hidden;
    display: block;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 110%;
    /* or 26px */
    text-align: left;
    letter-spacing: 0.05em;
    text-transform: normal;
    /* #273A41 */

    color: #dcdcdc;
    max-width: 676px;
    margin-top: 50px;
  }
  .des {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    max-width: 590px;
    color: #565c5e;
    font-family: "euclidnormal";
    span {
      color: #ced6e2;
      font-weight: bold;
    }
  }
  .sub-des {
    margin-top: 20px;
    margin-right: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    max-width: 455px;
    font-family: "euclidnormal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    margin: auto;
    /* or 21px */
    font-feature-settings: "ss01" on, "salt" on;
    color: #38484e;
    margin-top: 20px;
  }
}

.dao-inner-wrapper {
  display: flex;
  width: 100%;
  // max-height: 500px;
  // justify-content: flex-start;
  // align-items: flex-end;
  // margin-left: auto;
  margin: auto;
  justify-content: center;
}

// @media (max-width: 1200px) {
//   .dao-wrapper {
//     margin: auto;
//     display: flex;
//     flex-direction: column;
//     max-width: 1500px;
//   }
// }

.dao-hero {
  margin: auto;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 150px;

  h1 {
    font-family: "neuenormal";
    font-size: 36px;
    font-weight: 400;
  }

  p {
    font-family: "euclidnormal";
    font-size: 13px;
    font-weight: 400;
    color: #38484e;
    max-width: 598px;
    text-align: left;
    justify-content: left;
    margin: auto;
    margin-top: 30px;
  }
}

//effects

.login-button {
  text-decoration: none;
  color: #e3ecfa;
  display: inline-block;
  margin-top: 10px;
  opacity: 1;
  border: 1px solid #7e7e7e;
  padding: 5px 12px 6px 12px;
  border-radius: 5px;
  text-transform: none;
}

$circle-color: #848b91;
$line-color: #2a2929;
$bg: #eff1f5;
$title: #364652;
$desc: #071108;

.timeline {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  max-width: 1200px;
  margin: auto;

  section {
    min-height: 50px;
  }

  .info {
    background-clip: padding-box;
    border-top: 2px solid $line-color;

    h2 {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 1px;
    }
    span {
      color: rgb(138, 138, 138);
    }
  }

  .info:nth-of-type(2n) {
    padding-right: 2em;
    text-align: right;
    padding: 30px;
    span {
      max-width: 50%;
      display: inline-block;
      animation: slideInRight 1.5s forwards 0s ease-in-out;
    }
  }

  .info:nth-of-type(2n + 1) {
    padding-left: 1em;
    text-align: left;
    padding: 30px;
    span {
      max-width: 50%;
      display: inline-block;
      animation: slideInLeft 1.5s forwards 0s ease-in-out;
    }
  }
  .circle-container:nth-child(2n) {
    .tl {
      grid-area: tl;
      border-top: 2px solid $line-color;
      border-right: 2px solid $line-color;
      border-top-right-radius: 20px;
      margin-bottom: -2px;
    }
    .bl {
      grid-area: bl;
      border-bottom: 2px solid $line-color;
      border-right: 2px solid $line-color;
      border-bottom-right-radius: 20px;
      margin-bottom: -2px;
    }
  }
  .circle-container:nth-child(2n + 1) {
    .tr {
      grid-area: tr;
      border-top: 2px solid $line-color;
      border-left: 2px solid $line-color;
      border-top-left-radius: 20px;
      margin-bottom: -2px;
    }
    .br {
      grid-area: br;
      border-bottom: 2px solid $line-color;
      border-left: 2px solid $line-color;
      border-bottom-left-radius: 20px;
      margin-bottom: -2px;
    }
  }
}

.circle-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 0em 2.5em auto;
  grid-template-areas:
    "tl tl tr tr"
    "cr cr cr cr"
    "cr cr cr cr"
    "bl bl br br";

  div {
    grid-area: cr;
  }
  // section {
  //   grid-area: tl;
  //   border-top: 2px solid red;
  //   border-right: 2px solid red;
  // }
}

.circle {
  width: 3em;
  height: 3em;
  background: rgba(47, 47, 47, 0.9);
  border-radius: 50%;
  margin-left: 1em;
  color: #d9e0ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1em;
}

.no-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-50%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(50%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .info span {
    padding-bottom: 1em;
  }
}

.text-hero {
  margin: auto;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  h1 {
    font-family: "neuenormal";
    font-size: 36px;
    font-weight: 400;
    color: white;
  }

  span {
    font-family: "euclidnormal";
    font-size: 13px;
    font-weight: 400;
    color: #38484e;
  }

  @media (max-width: 768px) {
    height: 250px;
  }
}

.border-text {
  // position: absolute;
  width: 100%;
  height: 96px;
  // left: 2%;
  // top: -20%;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100%;
  /* identical to box height, or 96px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: "ss01" on, "salt" on;
  font-family: "neuebold";

  color: #273a41;

  // transform: rotate(-6deg);
}

.border-text-outline {
  // position: absolute;
  // left: 0;
  // top: -40%;
  width: 100%;
  height: 144px;
  // left: 2%;
  // top: -20%;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 96px */
  letter-spacing: 0.1em;
  // text-transform: uppercase;
  font-feature-settings: "ss01" on, "salt" on;
  font-family: "neuenormal";

  color: #eaeaea;
}

footer {
  margin: 0 auto;
  padding: 0rem;
  background-size: cover;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 4;
  padding: 0% 0px;
  // margin-bottom: 200px;
  padding-top: 50px;
  // height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(21, 21, 21, 0.75)
    ),
    url("./assets/grain.png");
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin-top: 100px;

  // &:before {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   transform: skewY(-6deg);
  //   transform-origin: 100% 0;
  //   z-index: -1;
  //   background: #181818;
  // }

  // &:after {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   transform: skewY(-6deg);
  //   transform-origin: 100%;
  //   z-index: -1;
  //   background: #0c0c0c;
  // }
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  line-height: 1.375;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 50px;
  max-width: 1280px;
  margin: auto;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    font-size: 1.125rem;
  }
  // @include screen-size(large) {
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 2rem;
  //   font-size: 1.125rem;
  // }
}

.footer-column {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  /* identical to box height, or 13px */
  font-family: "euclidnormal";
  color: #ffffff;

  /* Inside Auto Layout */
  p {
    margin-top: 40px;
  }
}

.login-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 111px;
  height: 40px;
  /* #FFFFFF */

  background: #ffffff;
  opacity: 0.6;
  border-radius: 6px;
  border: 0px;
  margin: auto;
  color: #01a590;
}

.footer-heading {
  font-size: 1rem;
  & + * {
    margin-top: 1.5rem;
  }
}

.some-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.some-list-item {
  margin-right: 0.75rem;
}

.some-list-link {
  display: block;
  line-height: 1;
  svg {
    width: 2rem;
  }
}
