@font-face {
  src: url(./fonts/EuclidCircularA-Regular.ttf);
  font-family: "euclidnormal";
  font-weight: normal;
}

@font-face {
  src: url(./fonts/NeueMachina-Regular.woff);
  font-family: "neuenormal";
  font-weight: normal;
}

@font-face {
  src: url(./fonts/NeueMachina-Ultrabold.woff);
  font-family: "neuebold";
  font-weight: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

  // @media (max-width: 768px) {
  //   overflow-x: hidden;
  // }
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.7;
  position: relative;
  height: 100vh;
  // overflow: hidden;
  background-color: #000000;
  // background: url("./assets/grain.png"), linear-gradient(to top, black, #141515);
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(0, 0, 0, 0.9),
  //     rgba(0, 0, 0, 0.93)
  //   ),
  //   url("./assets/grain.png");
  // width: 100%;
  // height: 100vh;
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-image: #050607, url("./assets/grain.png");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 210px 14px;
  // border-bottom: 1px solid rgba(96, 96, 96, 0.2);

  span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    font-family: "neuebold";
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}

header img {
  // w
  width: 64px;
}

header ul {
  margin-left: auto;
}

header ul li {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 10px;
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.container {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .left img {
  width: 100%;
  border-radius: 5px;
}

.container .right {
  padding: 0 10px;
  // margin-top: -100px;
}

.container .right h1 {
  color: white;
  font-size: 124px;
  font-weight: 900;
  display: inline-block;
  line-height: 1;
  font-family: "neuebold";
}

.container .right span {
  font-size: 72px;
  // letter-spacing: -4px;
  // color: #acacac;
}

.container .right p {
  margin-top: 0px;
  max-width: 600px;
  color: white;
  opacity: 0.5;
  font-size: 18px;
  line-height: 1.7;
  font-family: "euclidnormal";
}

.container .right a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 40px;
  opacity: 0.5;
  border: 1px solid gray;
  padding: 5px 12px 6px 12px;
  border-radius: 5px;
}

.cover-2 {
  background-color: #0f0f0f;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-3 {
  background-color: #111111;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-4 {
  background-color: #131313;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-5 {
  // background: linear-gradient(to bottom, #181e25, black);
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(18, 9, 9, 0.4),
      rgba(0, 0, 0, 0.63)
    ),
    url("./assets/grain.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // overflow: hidden;
}

article {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 80%;
}

.cover {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.cover-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-heading h1 {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
  font-family: "neuebold";
}

.cover-heading span {
  color: white;
  font-size: 52px;
  font-weight: 900;
  display: inline-block;
}

.imsrk2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: blac;
  font-size: 72px;
  font-weight: 900;
  z-index: -1;
  color: #dfdfdf;
  letter-spacing: -4px;
  line-height: 1;
  font-family: "neuebold";
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .cover-heading h1 {
    font-size: 72px;
  }
  .cover-heading span {
    font-size: 72px;
  }
  .imsrk2 {
    font-size: 124px;
  }
  header {
    padding: 5px 80px;
  }
  header ul {
    margin-left: auto;
  }
  header ul li {
    font-size: 14px;
    margin-left: 50px;
  }
  .container {
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    width: 90%;
    margin-top: 50px;
  }

  .left {
    margin: auto;
  }
  .container .left img {
    width: auto;
    height: 600px;
    border-radius: 5px;
  }
  .container .right {
    padding: 0;
    margin-top: -80px;
  }

  .container .right h1 {
    color: white;
    font-size: 124px;
    font-weight: 900;
    display: inline-block;
    line-height: 1;
  }
  .container .right span {
    font-size: 128px;
    letter-spacing: 5px;
    // color: #ffffff;
    line-height: 1;
  }

  .container .right strong {
    font-size: 72px;
    letter-spacing: -4px;
    color: #acacac;
  }
  .container .right p {
    margin-top: 0px;
    max-width: 600px;
    color: white;
    opacity: 1;
    font-size: 18px;
    line-height: 1.7;
    // margin: 0;
    // padding: 0;
    // width: 1000px;
  }
  .container .right a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.5;
    border: 1px solid gray;
    padding: 5px 12px 6px 12px;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=style.css.map */

.gradient-block {
  position: absolute;
  left: -4%;
  top: 8%;
  right: auto;
  bottom: auto;
  width: 800px;
  height: 200px;
  border-radius: 200px;
  background-image: linear-gradient(315deg, #99cfff, #dce5f5);
  opacity: 0.4;
  filter: blur(120px);
  transform: rotate(45deg);
}

.menu-button {
  position: fixed;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0;
  top: 28px;
  right: 62px;
  width: 30px;
  height: 30px;
  z-index: 0;
  cursor: pointer;
  color: white;
  visibility: hidden;
}
nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
}
nav ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  list-style: none;
  li {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    visibility: hidden;
    color: white;
  }
}
.skew {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.vertical {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.skewback {
  clip-path: polygon(0 0, -100% 0, 100% 100%, 0 100%);
}
.content {
  padding: 2em;
  color: white;
  max-width: 600px;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
}

@keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
}

// p {
//   max-width: 300px;
//   &:nth-of-type(1) {
//     position: relative;
//     opacity: 0;
//   }
// }
p[data-scroll="in"] {
  [data-char]:after {
    animation-name: glitch-switch;
  }
}

// p[data-scroll] {
//   transition: opacity 0.3s;
// }
// p[data-scroll="in"] {
//   opacity: 1;
// }
// p[data-scroll="out"] {
//   opacity: 0;
// }

.reveal--0 {
  [data-char]:after {
    animation-iteration-count: calc(var(--char-index) * 0.55);
  }
}
.reveal--1 {
  [data-char]:after {
    animation-iteration-count: 4;
  }
}
.reveal--2 {
  [data-char]:after {
    animation-iteration-count: var(--count);
  }
}
.word {
  position: relative;
  // display: inline-block;
}
[data-char] {
  color: transparent;
  position: relative;
}
[data-char]:after {
  --txt: attr(data-char);
  animation-duration: 0.45s;
  animation-delay: 2s;
  animation-timing-function: steps(1);
  animation-fill-mode: backwards;
  content: var(--txt);
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "neuebold";
  font-size: 124px;
}

@keyframes glitch-switch {
  0% {
    content: var(--char-0);
  }
  10% {
    content: var(--char-1);
  }
  20% {
    content: var(--char-2);
  }
  30% {
    content: var(--char-3);
  }
  40% {
    content: var(--char-4);
  }
  50% {
    content: var(--char-5);
  }
  60% {
    content: var(--char-6);
  }
  70% {
    content: var(--char-7);
  }
  80% {
    content: var(--char-8);
  }
  90% {
    content: var(--char-9);
  }
  100% {
    content: var(--char-0);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0rem;
  row-gap: 1.5rem;
  margin: auto;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: rgb(16, 16, 16);
  // border-top: 1px solid rgba(96, 96, 96, 0.2);
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1.25rem 0rem 1.25rem;

  div {
    display: flex;
    align-items: center;

    span {
      width: 64px;
      height: 64px;
      // border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        // max-width: 85%;
        max-height: 100%;
      }
    }
  }
}

.prop-title {
  margin-left: 0.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  /* #273A41 */
  color: #273a41;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 27px;
  font-family: "euclidnormal";
}

.card-title {
  font-weight: bold;
  font-family: "neuebold";
  color: #e0dfdf;
  font-size: 20px;
  margin-left: 0.75rem;
  text-align: left;
}

.card-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1.25rem 0rem 1.25rem;
  div {
    display: flex;
    align-items: center;

    span {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    p {
      margin-left: 4.5rem;
      font-weight: 400;
      text-align: left;
      font-family: "euclidnormal";
      color: #949da9;
      max-width: 550px;
      font-size: 20px;
    }
  }
}

.card-hero {
  margin: auto;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  // margin-top: 150px;
  max-width: 100%;
  // background: linear-gradient(to top, black, #141515);
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.dao-container {
  // background-color: #f5f9fa;
  transform-origin: top left;

  margin: 0 auto;
  height: 100%;
  padding: 0rem;
  padding-left: 50px;
  padding-bottom: 20px;
  background-size: cover;
  padding-bottom: 0px;
  overflow: hidden;

  // margin-bottom: 200px;
  // border: 1px solid #d2f0fb;
}
// .dao-container > * {
//   transform: skewY(6deg);
//   transform: skewY(-6deg);
// }

.dao-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  // max-width: 1500px;
  max-width: 97%;
}

.dao-content {
  width: 100%;
  z-index: 1;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: auto;

  .title {
    font-family: "neuebold";
    font-weight: 800;
    text-transform: normal;
    overflow: hidden;
    display: block;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 110%;
    /* or 26px */
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* #273A41 */

    color: #dcdcdc;
    max-width: 676px;
    margin-top: 50px;
  }
  .des {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    max-width: 590px;
    color: #565c5e;
    font-family: "euclidnormal";
    span {
      color: #ced6e2;
      font-weight: bold;
    }
  }
  .sub-des {
    margin-top: 20px;
    margin-right: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    max-width: 455px;
    font-family: "euclidnormal";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    margin: auto;
    /* or 21px */
    font-feature-settings: "ss01" on, "salt" on;
    color: #38484e;
    margin-top: 20px;
  }
}

.dao-inner-wrapper {
  display: flex;
  width: 70%;
  // max-height: 500px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .dao-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
  }
}

.dao-hero {
  margin: auto;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 150px;

  h1 {
    font-family: "neuenormal";
    font-size: 36px;
    font-weight: 400;
  }

  p {
    font-family: "euclidnormal";
    font-size: 13px;
    font-weight: 400;
    color: #38484e;
    max-width: 598px;
    text-align: left;
    justify-content: left;
    margin: auto;
    margin-top: 30px;
  }
}
